agora-demo-android/.idea
*.iml
agora-demo-android/.gradle
agora-sample-android/.idea
local.properties
agora-easycall-android/.gradle
agora-easycall-android/.idea
agora-easycall-android/build
agora-demo-ios-oc/AgoraDemo.xcodeproj/xcuserdata
agora-demo-ios-oc/AgoraDemo.xcodeproj/project.xcworkspace/xcuserdata
agora-demo-android/build
agora-voice-demo-android/.gradle
agora-voice-demo-android/.idea
agora-voice-demo-oc/sample.xcodeproj/xcuserdata
agora-easycall-ios-oc/AgoraSample.xcodeproj/project.xcworkspace/xcuserdata
agora-easycall-ios-oc/AgoraSample.xcodeproj/xcuserdata
agora-voice-demo-android/build
agora-voice-demo-oc/sample.xcodeproj/project.xcworkspace/xcuserdata
agora-demo-ios-swift/AgoraDemo.xcodeproj/project.xcworkspace/xcuserdata
agora-demo-ios-swift/AgoraDemo.xcodeproj/xcuserdata
agora-easycall-ios-swift/SampleSwift.xcodeproj/project.xcworkspace/xcuserdata
agora-easycall-ios-swift/SampleSwift.xcodeproj/xcuserdata
*.xcuserstate
*.xcbkptlist
agora-voice-demo-android/AgoraDemo/.gradle
agora-voice-demo-android/AgoraDemo/.idea
agora-voice-demo-android/AgoraDemo/build
*.xcscheme
AgoraRtcEngineKit.h
IAgoraRtcEngine.h
AgoraRtcEngineKit
AgoraAudioKit
agora-demo-android/libs
agora-easycall-android/libs
agora-voice-demo-android/libs
agora-demo-ios-oc/Agora
agora-demo-ios-oc/AgoraDemo/build
agora-easycall-ios-oc/Agora
agora-easycall-ios-oc/build
agora-voice-demo-oc/Agora
agora-voice-demo-oc/AgoraDemo/build
agora-demo-ios-oc/AgoraDemo/AgoraDemo.xcodeproj/xcuserdata
agora-demo-mac-oc/AgoraDemo/AgoraDemo.xcodeproj/xcuserdata
agora-voice-demo-oc/AgoraDemo/sample.xcodeproj/xcuserdata
